@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');
body{
    width: 100vw;
    height: auto;
    font-family: 'Creepster',sans-serif;
    background-image: url("../ol.jpg");
    overflow-x: hidden;
    text-align: center;
}

a{
    color: darkred;
}

.footer{
    margin-bottom: 50px;
}

/*changed from chart to serif font Glass Antiqua*/
.footer p{
    font-family: "Book Antiqua";
    font-weight: bold;
    width: 90vw;
    margin: auto;
    text-align: justify;
    padding-bottom: 20pt;
    line-height: 1.5;
    font-size: 1em;
}

span.fantasy{
    background: #6108ea;
    color: white;
}
span.thriller{
    background: #ad0101;
    color: white;
}
span.scifi{
    background: #08ff08;
    color: black;
}
span.supernatural{
    background: #f14505;
    color: black;
}
span.drama{
    background: #eec005;
    color: black;
}

.labels {
    font-family: 'Creepster', "Book Antiqua";
    font-weight: lighter;
}

.bookTitles{
    font-family: 'Creepster', "Book Antiqua";
    /*font-weight: bold;*/
}
h1{
    font-size: 8rem;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

h3{
    font-size: 2rem;
}

/*removed per feedback*/
/*.bookTitles{*/
/*    text-shadow: #777776 1px 0 10px;*/
/*}*/

.spiders{
    -webkit-filter: drop-shadow( 20px 30px rgba(0, 0, 0, .9));
    filter: drop-shadow( 20px 30px rgba(0, 0, 0, .9));
    /*stroke-width: 20px;*/
    stroke: black;
}

hr {
    border: 1px solid #3a3838;
    width: 85vw;
    margin: auto;
}


